<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <div class="copy">
            © Titan's Solutions 2019<br>
            All rights reserved
        </div>
    </div>
</footer>