<header id="main-header">
    <nav>
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand logo" href="./index.html">
                <span class="pb-4 mb-4">Titans<b class="apo">'</b> Solutions</span>
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-x"></i>
                </button>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact Us</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>